<div>
    
    <form method="POST" action="/cmdb/groups/{{id}}/update">
        <a class="dropdown-item"></a>    
          <label class="form-label" for="title">Title</label>
           <input type="text" name="title" id="title" value="{{title}}" placeholder="{{title}}" required class="form-control form-control-lg" />
        
         <a class="dropdown-item"></a>
         <label class="form-label" for="description">Description</label>
            <textarea name="description" id="description" value="{{description}}" placeholder="{{description}}" class="form-control form-control-lg">
            </textarea>
             
        <br><button type="submit" class="btn btn-danger">Confirm</button>
        
    </form>       
  
  
</div>

