<div>
    <p>{{title}}</p>
    <p>{{description}}</p>
    <p>number of movies: {{numMovies}}</p>
    <p>Total duration: {{totalDuration}} mins</p>
    <p>Movies -------------------- </p>
    {{#each this.movies}}
    <form action="/cmdb/groups/{{../id}}/{{id}}/delete" method="POST">
        <li><a class="dropdown-item"></a>
            <p>{{this.title}} - Duration: {{this.runtimeMins}}mins
                <button type="submit" class="btn btn-dark">Remove</button>
            </p>
        </li>
    </form>        
    {{/each}}
</div>