<div>
    
    <form method="POST" action="/cmdb/groups/{{id}}/update">
        <li><a class="dropdown-item"></a>
            <b>{{title}}</b> 
                
           <input type="text" name="title" id="title" value="{{title}}" class="form-control form-control-lg" />

        </li>
         <li><a class="dropdown-item"></a>
            <b>{{description}}</b> 
                
            <textarea name="description" id="description" value="{{description}}" class="form-control form-control-lg"></textarea>
        </li>
        <button type="submit" class="btn btn-danger">Confirm</button>
    </form>       
  
  
</div>

