<div class="col">
    <div class="card mb-3" style="max-width: 18rem;">
        <img src="{{this.image}}" class="card-img-top" alt="movies-folder">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
           <p><b>Description:</b> {{this.plot}}</p>  
            <p><b>Directors:</b> {{this.directors}} </p>
            <p><b>Movie Stars:</b> {{this.stars}}</p>
            <p><b>Duration:</b> {{this.runtimeMins}}</p>
        </div>
    </div>
</div>