<div class="col">
    <div class="card mb-3" style="max-width: 18rem;">
        <img src="{{image}}" class="card-img-top" alt="movies-folder">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
           <p><b>Description:</b> {{plot}}</p>  
            <p><b>Directors:</b> {{directors}} </p>
            <p><b>Movie Stars:</b> {{stars}}</p>
            <p><b>Duration:</b> {{runtimeMins}} mins </p>
        </div>
    </div>
</div>